html,
body {
  padding: 0;
  margin: 0;
  background: #443f4f url(/img/layout/bg.png) 0 0 repeat;
  color: #ece1df;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}